{#
    Copyright (c) 2012 Mike Green <myatus@gmail.com>

    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.
#}
{% spaceless %}

<div class="cookillian-alert" style="display:none;">
    <a class="close">&times;</a>
    <h3 class="alert-heading">{{ alert_heading }}</h3>
    {{ alert_content | raw }}
    <div class="buttons">
        <a class="btn btn-ok" href="{{ response_ok }}" rel="nofollow"><i class=""></i>{{ alert_ok }}</a>&nbsp;
        <a class="btn btn-no" href="{{ response_no }}" rel="nofollow"><i class=""></i>{{ alert_no }}</a>
    </div>
</div>

{% endspaceless %}
