{#
    Copyright (c) 2012 Mike Green <myatus@gmail.com>

    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.
#}

<div style="position: relative; width: 100%;"> {# REL DIV #}
    <form method="post" action="" id="cookies_form">
        {{ nonce | raw }}

        <div class="tablenav top">
            <div class="alignleft actions">
                <a href="#" id="add_new_cookie_btn" class="button-secondary action">Add New Cookie</a>
            </div>
            <div class="alignright">
                <span class="displaying-num">{{ known_cookie_count }} cookies</span>
            </div>
        </div>

        <table class="wp-list-table widefat fixed cookie_table">
            <thead>
                <tr>
                    {% if is_rtl %}<th scope="col" class="col_blank">&nbsp;</th>{% endif %}
                    <th scope="col" class="col_name">{{ __('Cookie Name') }}</th>
                    <th scope="col" class="col_desc">{{ __('Description') }}</th>
                    <th scope="col" class="col_group">{{ __('Group') }}</th>
                    <th scope="col" class="col_req">{{ __('Required') }}</th>
                    <th scope="col" class="col_del">{{ __('Delete') }}</th>
                    {% if not is_rtl %}<th scope="col" class="col_blank">&nbsp;</th>{% endif %}
                </tr>
            </thead>
            <tbody>
                <td colspan="6" class="scroll">
                    <div>
                        <table class="widefat" style="border:0;">
                            <tbody>
                                {% for cookie_name,cookie_value in known_cookies %}
                                <tr>
                                    <td class="col_name">
                                        <input type="text" value="{{ cookie_name }}" name="known_cookies[{{ cookie_name }}][name]" placeholder="Enter the cookie name here" />
                                    </td>
                                    <td class="col_desc">
                                        <textarea name="known_cookies[{{ cookie_name }}][desc]">{{ cookie_value.desc }}</textarea>
                                    </td>
                                    <td class="col_group">
                                        <input type="text" value="{{ cookie_value.group }}" name="known_cookies[{{ cookie_name }}][group]" />
                                    </td>
                                    <td class="col_req">
                                        <input type="checkbox" name="known_cookies[{{ cookie_name }}][required]" {% if cookie_value.required %}checked="checked"{% endif %} />
                                    </td>
                                    <td class="col_del">
                                        <input type="checkbox" name="known_cookies[{{ cookie_name }}][delete]" />
                                    </td>
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </td>
            </tbody>
        </table>

        {{ submit_button | raw }}

    </form>
</div> {# REL DIV #}
